body{
        
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* fieldset{
    background-image: linear-gradient(to top ,#E6A4B4 ,#FAEF9B);
} */


section{

}

#ss{
    height: 35px;
    width: 230px;
    text-decoration: double;
}


#rr{
    height: 28px;
    width: 80px;
}
body{
    background-image: url(https://gpibkasihsetiaciledug.org/uploads/1/2/0/2/120260808/background-images/548165593.jpg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}